{% extends "base.html" %}

{% block navbar %}
    <a class="navbar-brand" href="logout">Logout</a>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <p>Identity vs. Alive status (scatter chart)</p>
        </div>
        <div class="col">
            <p>Appearances (scatter chart)</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Most common eye colour (bar chart)</p>
            <div id="eye_colour_chart" class="chart">
                <script>$(build_chart({{ eye_data|safe }}, "#eye_colour_chart"))</script>
            </div>
        </div>
        <div class="col">
            <p>Most common hair colour (bar chart)</p>
            <div id="hair_colour_chart" class="chart">
                <script>$(build_chart({{ hair_data|safe }}, "#hair_colour_chart"))</script>
            </div>
        </div>
    </div>
{% endblock %}
