<!DOCTYPE html>
<html>
<head>
    <title>Basic Website</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Function to dynamically load options for "models_selector" element -->
    <script>
        function load_seasons(seasons_dict) {
            var league = document.getElementById("leagues_selector").value;
            var seasons = seasons_dict[league];
            var selector = document.getElementById("seasons_selector");
            selector.options.length = 0;  // reset items to nothing
            for (i = 0; i < seasons.length; i++) {
                selector.options.add(new Option(seasons[i]));
            }
            var selected_season = "{{ selected_season }}";
            for (i = 0; i < seasons.length; i++) {
                if (seasons[i] == selected_season) {
                    selector.selectedIndex = i;
                }
            }
            
        }
    </script>

</head>

<body onload="load_seasons({{ seasons }})">

    <div class="container">
        <h1>Football League Results <small>(select league & season)</small></h1>
        <div class="form-group">
        <form>
            <select name="leagues_selector" id="leagues_selector" onchange="load_seasons({{ seasons }})" class="form-control">
                {% for league in leagues %}
                    {% if league == selected_league %}
                    <option value="{{ league }}" selected>{{ league }}</option>
                    {% else %}
                    <option value="{{ league }}">{{ league }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            <select name="seasons_selector" id="seasons_selector" class="form-control"></select>
            <br>
            <input type="submit" value="Show League Table" class="btn-primary">
        </form>
        </div>

        {% if results %}
            <table class="table table-hover table-condensed">
                <tr><th colspan=3>{{ selected_league }} - {{ selected_season }}</th></tr>
                <tr>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Points</th>
                    <th>Goal Difference</th>
                </tr>
                {% for result in results %}
                <tr>
                    <td>{{ result.team }}</td>
                    <td>{{ result.games }}</td>
                    <td>{{ result.points }}</td>
                    <td>{{ result.goal_difference }}</td>
                </tr>
                {% endfor %}
            </table>
            <ul class="pagination">
                {% if prev_url %}
                    <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous Matchday</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous Matchday</a></li>
                {% endif %}
                {% if next_url %}
                    <li class="page-item"><a class="page-link" href="{{ next_url }}">Next Matchday</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next Matchday</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

</body>
</html>
